.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fakestore{
  width: 200px;
  height: 200px;
}
.button{
  margin-left: 20px;
}
.add{
  position: absolute;
  top: 0;
  right: 0;
 
 
}
.add img{
  height: 100px;
  width: 100px;
  
}
.add h1{
  text-align: center;
  margin-bottom: 80px;
  background-color: #282c34;
  color: crimson;
}
.users{
  border: 1px solid cyan;
  color: #191441;
  background-color: crimson;
  font-size: 20px;
}
.details{
  border: 1px solid crimson;
  font-size: 20px;
  background-color: cyan;
  color: crimson;
}
.nav{
  text-decoration: none;
  color: #61dafb;
}
.image{
  width: 350px;
  height: 350px;
}
.image img{
  width: 100%;
  height: 100%;
}
.zero{
  font-size: 25px;
  color: red;
  position: absolute;
  top: 0;
  right: 30px;

}
.cartimg{
  width: 100px;
  height: 100px;
}
.cartimg img{
  width: 100%;
  height: 100%;
}
.cartrow{
  margin-top: 50px;
  margin-bottom: 50px;
}